.chat-main__message-box{data: {message: {id: message.id}}}
  .chat-main__content
    .chat-main__content--name
      = message.user.name
    .chat-main__content--date
      = message.created_at.to_s
  .chat-main__letter
    - if message.text.present?
      %p.chat-main__letter--text-image
        = message.text
    = image_tag message.image.url, class: 'chat-main__image' if message.image.present?